div.dt-buttons {
  display: none;
}

.vcenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.error_404 {
  height: 100vh;
  background: #eff3f8;
  padding: 1em;
}

.bold {
  font-size: 10em;
}
